%h1 Listing products

%table
  %tr
    %th Brand
    %th Name
    %th Color description
    %th Description
    %th Collection
    %th Color
    %th Finish
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.brand
      %td= product.name
      %td= product.color_description
      %td= product.description
      %td= product.collection
      %td= product.color.name
      %td= product.finish.name
      %td= link_to 'Show', product

%br

= link_to 'New Product', new_product_path
